# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# Mac junk files
.DS_Store

# Real log exports (keep these local)
sample_logs/windows_security_real.csv
sample_logs/auth_real.log
